
# ─── API ENDPOINTS ───────────────────────────────────────────────────────────
# Use 'http://localhost:4001' for local dev or your production domain
NEXT_PUBLIC_SERVER_API=

# ─── GOOGLE AUTH ─────────────────────────────────────────────────────────────
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# ─── RUMSAN SERVICES ─────────────────────────────────────────────────────────
NEXT_PUBLIC_BASE_RUMSAN_URL=
NEXT_PUBLIC_BASE_RUMSAN_USER_DEP_URL=






# DATABASE_URL
# GITHUB_TOKEN
# NEXT_PUBLIC_BASE_RUMSAN_URL
# NEXT_PUBLIC_BASE_RUMSAN_USER_DEP_URL
# NEXT_PUBLIC_GOOGLE_CLIENT_ID
# JWT_SECRET
# PORT
# NEXT_PUBLIC_SERVER_API