
# ─── API ENDPOINTS / url ───────────────────────────────────────────────────────────
NEXT_PUBLIC_SERVER_API=

# ─── GOOGLE AUTH ─────────────────────────────────────────────────────────────
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# ─── RUMSAN SERVICES ─────────────────────────────────────────────────────────
NEXT_PUBLIC_BASE_RUMSAN_URL=
NEXT_PUBLIC_BASE_RUMSAN_USER_DEP_URL=


