# ── frontend url ───────────────────────────────────────────────────────────────
WEB_PORT=

# ── Database (Render / external) ─────────────────────────────────────────────
DATABASE_URL=

# ── Server ───────────────────────────────────────────────────────────────────
API_PORT=
NEXT_PUBLIC_SERVER_API=

# ── External services ─────────────────────────────────────────────────────────
GITHUB_TOKEN=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_BASE_RUMSAN_URL=
NEXT_PUBLIC_BASE_RUMSAN_USER_DEP_URL=
