# ─── DATABASE ────────────────────────────────────────────────────────────────
# Standard PostgreSQL connection string. 
# Example: postgresql://USER:PASSWORD@HOST:PORT/DATABASE

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

APP_URL=

# ─── SERVER CONFIG ───────────────────────────────────────────────────────────
PORT=4001
JWT_SECRET=
NODE_ENV=production

# ─── AUTH & EXTERNAL APIS ────────────────────────────────────────────────────
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GITHUB_TOKEN=
APP_ID=
APP_PRIVATE_KEY=

# ─── RUMSAN SERVICES ─────────────────────────────────────────────────────────
RS_USER_URL=

# ─── EMAIL CONFIG (SMTP) ─────────────────────────────────────────────────────
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
